@import "tailwindcss";

@import "tailwindcss";
@plugin './hero.js';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "LeagueSpartan", sans-serif;
}

@font-face {
  font-family: LeagueSpartan;
  font-style: normal;
  font-weight: 300 400 700;
  src: url("/fonts/LeagueSpartan-VariableFont.ttf") format("trueType");
}

body {
  font-family: var(--font-sans);
}

.content {
  @apply w-full max-w-[1440px] px-[min(4rem,8%)];
}

@layer base {
  h1 {
    @apply text-[clamp(2rem,10vw,8rem)] leading-[clamp(3rem,9vw,7rem)] font-bold text-center z-30  uppercase portrait:text-[clamp(4rem,10vw,8rem)] portrait:leading-[clamp(3.6rem,9vw,7rem)];
  }

  p {
    @apply text-[clamp(0.5rem,9vw,1.125rem)] font-normal text-left z-30 portrait:text-[clamp(0.4rem,9vw,1.125rem)];
  }

  p span {
    @apply text-[clamp(0.8rem,12vw,1.875rem)] font-normal text-left z-30 portrait:text-[clamp(0.7rem,9vw,1.875rem)] leading-none;
  }
}

/* px-5 md:px-10 lg:px-20 */
/* .hero-image-mask {
  @apply w-full h-[400px] md:h-[600px] lg:h-[800px] bg-[url('/images/Hero-Interior-BaW.png')] bg-cover bg-center bg-amber-950;
} */
